.MyGallery__item {
  width: 100%;
  height: 600px;

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: left;
  }

  &__right {
    right: 20px;
    top: 20px;
    position: absolute;

    .MuiChip-label {
      overflow: initial;
    }
  }

  &__center {
    position: absolute;
    bottom: 80px;
    max-width: 900px;
    width: 100%;
    background-color: rgba(black, .5);
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 1;
    white-space: pre-line;
    min-height: 100px;
    padding: 10px;
  }
}
